{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{% extends 'adminindex.html' %}
{% block body %}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-dark">

      <tr>
        <th colspan="1" scope="col">Date</th>
<td colspan="1">
          <input type="date" name="textfield" value="date" class="form-control" required/> </td>
        <td>
        <input type="submit" name="Submit" value="Search"  class="btn btn-success"/>
        </td><td colspan="1"></td>
    </tr>
    <tr>
      <td>Authority</td>
      <td>Notification</td>
      <td>Date</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
              {% for i in val %}
                  <td><p>{{ i.AUTHORITY.Name }}</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p></td>
      <td>&nbsp;{{ i.Notification }}</td>
      <td>{{ i.Date }}</td>
      <td>{% if i.status == 'pending' %}
          <p><a href="/acceptnotification/{{ i.id }}" class="btn btn-success">Accept</a></p>
      <p><a href="/declinenotification/{{ i.id }}" class="btn btn-success">Decline</a></p>
      {% elif i.status == 'accept' %}Accepted{% else %} Declined {%  endif %}
      </td>
    </tr>
        {% endfor %}
  </table>
</form>
</body>
{% endblock %}
{#</html>#}
