<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="row"><a href="viewprofile">View Profile</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="adviewfeedback">View Feedback</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="managebill">Add & Manage</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="paymenthistory">View bill details & Payment history</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="notification">Send Notification</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="viewcomplaint">View complaint & Send reply</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/">Logout</a></th>
    </tr>
  </table>
</form>
</body>
</html>
